APP_PORT=5000
APP_ENV=development

DATABASE_URL="postgresql://postgres:12345678@localhost:5432/psb_pondok?schema=public"

JWT_SECRET="ganti_dengan_secret_yang_lebih_aman"
JWT_EXPIRES_IN="1d"

MAX_FILE_SIZE=5242880
UPLOAD_DOCUMENT_PATH="uploads/documents"
UPLOAD_PAYMENT_PATH="uploads/payments"

CORS_ORIGIN="http://localhost:3000"
